*{
    margin: 0;
    padding: 0;
}
.main{
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    font-family: cursive;
}
/* css fro box aniomation */
/* .box1{
    background-color: cornflowerblue;
    height:200px;
    width: 200px;
    margin: 5px;

}
.box2{
    background-color: grey;
    height:200px;
    width: 200px;
    margin: 5px;

}
.box3{
    background-color: rgb(255, 151, 151);
    height:200px;
    width: 200px;
    margin: 5px;
} */
 /* css fro navbar animation */
 nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(250, 212, 212);
 }
 .menu{
    display: flex;
    gap:2vw;
 }