.display{
    font-size: 40px;
    width:190px;
    border: 2px solid black;
    border-radius: 5px;
}
.length10p{
    font-size: 30px;
    height: 40px;
    width:190px;
    border: 2px solid black;
    border-radius: 5px;
}